/*body*/
/*{*/
    /*color: #424542;*/
    /*font-size: 12px;*/
    /*of  font-size: 1.2em;*/
    /*font-weight: normal;*/
    /*line-height: 1.41em;*/
/*}*/

h1
{
    color: #666;
    font-size: 24px;
    font-family: Georgia,serif;
    font-weight: normal;
}

h2
{
    color: #b50008;
    font-weight: bold;
}

h3
{
    color: #424542;
    font-weight: bold;
}

.breadcrumb
{
    color: #636563;
    font-size: 11px;
    font-weight: normal;
}

a.general
{
    color: #008C9D;
    text-decoration: none;
}

a.general:hover
{
    text-decoration: underline;
}

#contentTabs li
{
    text-align: center;
    /*background-color: #FFFFFF;*/
    background-color: #e9e8e8;
}

#contentTabs li.current
{
    background-color: #00A2B5;
}

#contentTabs li a
{
    color: #00A2B5;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    font-family: verdana;
}

#contentTabs li.current a
{
    color: #FFFFFF;
    text-decoration: none;
}
