html, body {
    margin:0;
    padding:0;
    height:100%;
    width: 100%;
    overflow: hidden;
    font-family:  Tahoma,sans-serif;
}

body>#container{height:auto;}

img {
    position: relative;
}

input{
    font-family:  Tahoma,sans-serif;
}

#metaData{
    left: 14px;
    height: 180px;
}

#main{
    margin: 0px;
    padding: 0px;
    height: 95%;
    width: 100%;
}

#menu {
    float: left;
    width: 18%;
    height: 90%;
    padding-top: 80px;
    border-right: 4px double #00A2B5;
}

#logo {
    height: 45px;
}

#menuTop {
    height: 65%;
    overflow: auto;
}


#content {
    float: left;
    width: 81%;
    height: 94%;
}

#contentTop {
    width: 100%;
    height: 15%;
}

#saveAndPrint {
    width: 100px;
    height: 33px;
    float: left;
}

#editButtons {
    width: 520px;
    float: right;
    height: 70%;
    padding-top: 5px;
    padding-right:25px;
}

#archiveName {
    width: 100%;
    height: 30%;
    clear: both;
}
#contentMain {
    width: 100%;
    height: 100%;
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    overflow: hidden;
    border-top: 4px solid #00A2B5;
}

#contentTab {
    height: 90%;
    padding-right: 25px;
}


/******* tabbladen ***********/
#contentTabs {
    margin:0;
    padding:0;
    list-style:none;
    overflow:hidden;
}
#contentTabs li {
    float:left;
    display:block;
    padding:5px;
    background-color:#bbb;
    margin-right:5px;
}
#contentTabs li a {
    color:#fff;
    text-decoration:none;

}
#contentTabs li.current {
    background-color:#e1e1e1;
}
#contentTabs li.current a {
    color:#000;
    text-decoration:none;
    outline: none;
}
#contentTabs li a.remove {
    color:#f00;
    margin-left:10px;
}
#contentTabs li img {
    border-style:none;
}

#overviewPager{
    float: left;
    padding-right: 30px;
}


#brightness {
    float:right;
    padding-right:141px;
}

#contrast {
    float:right;
    padding-right:141px;
}

#sliders{
    float: right;
    width:138px;
}
/*************************/
.vsplitbar {
	width: 5px;
	background: #00A2B5;
}

.tableOfContents{
    height: 100%;
    overflow: auto;
}

.content{
    height: 100%;
    overflow: hidden;
}

.menuBottom {
    height: 30%;
    width:  200px;
}

.pagingControls {
    width: 320px;
    z-index: 10;
    position: relative;
    left: -20%;
    bottom: 0%;
    float: right;
}


.toolbar {
    padding: 10px 4px;
    height: 54px;
}

.pagingtoolbar {
    padding: 10px 4px;
    height: 28px;
}

.overviewThumbnail {
    padding: 5px;
    border: 0px;
}

.navImage{
    position: relative;
}

.image{
    height: 88%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    float: left;
    z-index: 1;
    position: relative;
}

.editSlider{
    width: 100px;
    height: 7px;
    margin: 5px;
}


.teaserHolder{
    float:left;
    height:161px;
    padding:11px;
    position:relative;
    width:97%;
}

div.scrollableArea *{
    position: relative;
    float: left;
    margin: 0;
    padding: 5px;
    border: 0;
}


/*h2 {*/
    /*font-family: Trebuchet MS;*/
    /*font-size: 18px;*/
/*}*/

.overlay{
    background-color: #000;
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 3;
}

.overlayImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.breadcrumb{
    font-size: 12px;
}

